= simple_form_for @season do |f|
  = f.error_notification
  .form-inputs
    = f.input :startdate#, as: :datepicker
    = f.input :enddate
  .form-actions
    = f.submit class: "btn btn-primary"
    = link_to 'Cancelar', root_path, class: 'btn btn-default'
