- @areas.each do |area|
  .panel.panel-default
    .panel-heading
      %h4
        = link_to area.name, area
    .panel-body
      %ul.list-group
        %li.list-group-item
          Numero de residentes:
          = area.residents.count
        %li.list-group-item
          Numero de tutores:
          = area.tutors.count

        %li.list-group-item
          Numero de notas:
          = area.number_of_notes
        %li.list-group-item
          Tiempo total:
          =  show_in_hours_and_minutes area.all_resident_notes_hours  
        %li.list-group-item
          Numero total de logins:
          = area.logins_count

