%ul.nav.nav-pills.breadcrumb
  - 10.times do |i|
    - if i == @since
      %li.active
        =link_to i.months.ago.strftime("%B %Y"),dashboard_monthly_path( month: i )
    - else
      %li
        =link_to i.months.ago.strftime("%B %Y"),dashboard_monthly_path( month: i )
- @areas.each do |area|
  .panel.panel-default
    .panel-heading
      %h4
        = link_to area.name, area
    .panel-body
      %ul.list-group
        %li.list-group-item
          Numero notas uiltimo mes:
          = area.all_notes_last_month(@since)
        - user =  area.resident_more_notes_monthly(@since)
        - if user
          %li.list-group-item
            Usuario con mas notas
            = user.name + " " + user.lastname + " con " + user.last_month_notes(@since).count.to_s + " notas."
        %li.list-group-item
          Minutos totales:
          = area.all_resident_notes_hours


.panel.panel-default
  .panel-heading
    %h4
      Residente del mes
  .panel-body
    = @best_resident.name + " " + @best_resident.lastname + " con " + @best_resident.procedures.count.to_s + " notas."
