%ul.nav.nav-pills
  - 10.times do |i|
    %li{class: i == @since ? 'active' : ''}
      =link_to i.months.ago.strftime("%B %Y"), dashboard_monthly_path( month: i )
.panel.panel-default
  .panel-heading
    %h4
      Residente del mes
  .panel-body
    - if @best_resident
      %p
        = link_to @best_resident.fullname, @best_resident
        del área de
        = link_to @best_resident.area.name, @best_resident.area
        = "con #{@record_count} notas."
- @areas.each do |area|
  .panel.panel-default
    .panel-heading
      %h4
        = link_to area.name, area
    .panel-body
      %ul.list-group
        %li.list-group-item
          Número notas último mes:
          = area.all_notes_last_month(@since)
        - user =  area.resident_more_notes_monthly(@since)
        - if user
          %li.list-group-item
            Residente con más notas:
            - message = user.name + " " + user.lastname + " con " + user.last_month_notes(@since).count.to_s + " notas."
            = link_to message ,user
        %li.list-group-item
          Minutos totales:
          = show_in_hours_and_minutes area.last_resident_notes_hours(@since)
