- if @role == "Admin"
	%h2 #{current_user.gender == "0" ? "Bienvenido Dr. " : "Bienvenida Dra. " } #{current_user.name}
	.panel.panel-default
		.panel-heading
			- if Season.count == 0
				%h4 Temporada
			-else
				%h4 Temporada #{NameMonth(Season.last.startdate.month)} / #{NameMonth(Season.last.enddate.month)}
		.panel-body
			- if Season.count == 0
				.btn-group.btn-group-justified
					= link_to "Iniciar nueva", new_season_path, :class => "btn btn-primary"
			-else
				%ul.list-group
					%li.list-group-item
						%b Usuarios activos: 
						= Season.last.users.count
					%li.list-group-item
						%b Fecha de inicio:
						= @season.startdate.day.to_s + "/" + NameMonth(@season.startdate.month.to_s) + "/" + @season.startdate.year.to_s
					%li.list-group-item
						%b Fecha de conclusión: 
						= @season.enddate.day.to_s + "/" + NameMonth(@season.enddate.month.to_s) + "/" + @season.enddate.year.to_s
					- lastDays = (@season.enddate - Date.today).to_i
					- if lastDays <= 0
						%li.list-group-item
							.alert.alert-warning La temporada ha finalizado, puede extender el tiempo editando esta temporada o siendo el caso, iniciando una nueva y generando nuevos usuarios para la misma.
					-else
						%li.list-group-item
							%b Días restantes: 
							= lastDays


				.btn-group.btn-group-justified
					= link_to "Ver todas", seasons_path, :class => "btn btn-default"
					= link_to "Editar", edit_season_path(Season.last), :class => "btn btn-default"
					= link_to "Iniciar nueva", new_season_path, :class => "btn btn-primary"
	.panel.panel-default
		.panel-heading
			%h4 Usuarios
		.panel-body
			- if User.count <= 2
				.btn-group.btn-group-justified
					= link_to "Crear nuevo", new_user_path, :class => "btn btn-primary"
			-else
				%ul.list-group
					%li.list-group-item
						%b Jefes de área: 
						= User.where(:role => "1").count
					%li.list-group-item 
						%b Tutores: 
						= User.where(:role => "2").count
					%li.list-group-item
						%b Total internos: 
						= User.where(:role => "3").count
				.btn-group.btn-group-justified
					= link_to "Ver todos", users_path, :class => "btn btn-default"
					= link_to "Crear nuevo", new_user_path, :class => "btn btn-primary"
	.panel.panel-default
		.panel-heading
			%h4 Áreas
		.panel-body
			-if User.where(:role => "1").limit(1).count == 0
				.alert.alert-warning Antes de crear un área, debe crear algun usuario al cuál titular en ella.
			-else
				- if Area.count == 0
					.btn-group.btn-group-justified
						= link_to "Crear nueva", new_area_path, :class => "btn btn-primary"
				-else
					%table.table
						%tr
							%th Nombre
							%th Jefe de área
							%th Procedimentos realizables
						- Area.all.each do |area|
							%tr
								%td
									= link_to area.name, area_path(area)
								%td
									= link_to area.user.name + " " + area.user.lastname, user_path(area.user)
								%td 
									= area.surgeries.count

					.btn-group.btn-group-justified
						= link_to "Crear nueva", new_area_path, :class => "btn btn-primary"
//  Interno ///////////////////////////////////
- if @role == '3'
	%h2 Bienvenido #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 Tus procedimientos
		.panel-body
			- if current_user.procedures.count == 0
				.btn-group.btn-group-justified
					= link_to "Crear nuevo", new_procedure_path, :class => "btn btn-primary"
			-else
				%ul.list-group
					%li.list-group-item
						%b Procedimientos realizados: 
						= current_user.procedures.count
					%li.list-group-item
						%b Tiempo en procedimientos:
						= (current_user.minutes.to_i / 60).to_s + " horas " + (current_user.minutes.to_i % 60).to_s + " minutos."
					%li.list-group-item
						%b Ultimo:
						- procedure = current_user.procedures.last
						= procedure.donedate.day.to_s + "/" + NameMonth(procedure.donedate.month.to_s) + "/" + procedure.donedate.year.to_s + " | " + procedure.surgery.name.to_s + " (" + (procedure.minutes.to_i / 60).to_s + " horas " + (procedure.minutes.to_i % 60).to_s + " minutos)"
				.btn-group.btn-group-justified
					= link_to "Ver todos", procedures_path(:user_id => current_user.id), :class => "btn btn-default"
					= link_to "Crear nuevo", new_procedure_path, :class => "btn btn-primary"
//  Jefe de area ///////////////////////////////////
- if @role == '1'
	%h2 Bienvenido Dr. #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 
				= current_user.area.name
		.panel-body
			%ul.list-group
				%li.list-group-item
					%b Internos en área: 
					= @area.users.where(:season_id => Season.last.id).count
				%li.list-group-item
					%b Procedimientos realizables: 
					= @area.surgeries.count
			.btn-group.btn-group-justified
				= link_to "Ver", @area, :class => "btn btn-default"
	.panel.panel-default
		.panel-heading
			%h4 Usuarios
		.panel-body
			.btn-group.btn-group-justified
				= link_to "Ver todos", users_path, :class => "btn btn-default"
				= link_to "Crear nuevo", new_user_path, :class => "btn btn-primary"
//  Tutor ///////////////////////////////////
- if @role == '2'
	%h2 Bienvenido Dr. #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 
				= current_user.area.name
		.panel-body
			%ul.list-group
				%li.list-group-item
					%b Internos en área: 
					= @area.users.where(:season_id => Season.last.id).count
				%li.list-group-item
					%b Procedimientos realizables: 
					= @area.surgeries.count
					%table.table
						%tr
							%th Nombre
							%th Descripción
						- @area.surgeries.each do |surgery|
							%tr
								%td
									= surgery.name
								%td
									= surgery.description
	.panel.panel-default
		.panel-heading
			%h4 Usuarios
		.panel-body
			.btn-group.btn-group-justified
				= link_to "Ver todos", users_path, :class => "btn btn-default", :method => :get