= render partial: "visitors/#{@role}_index"

- if @role == '3'
	%h2 #{current_user.gender == "0" ? "Bienvenido Dr. " : "Bienvenida Dra. " } #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 Tus procedimientos
		.panel-body
			- if current_user.procedures.count == 0
				.btn-group.btn-group-justified
					= link_to "Participar en nuevo", new_procedure_path, :class => "btn btn-primary"
			-else
				%ul.list-group
					%li.list-group-item
						%b Procedimientos realizados: 
						= current_user.procedures.count
					%li.list-group-item
						%b Tiempo en procedimientos:
						= (current_user.minutes.to_i / 60).to_s + " horas " + (current_user.minutes.to_i % 60).to_s + " minutos."
					%li.list-group-item
						%b Último:
						- procedure = current_user.procedures.last
						= procedure.donedate.day.to_s + "/" + NameMonth(procedure.donedate.month.to_s) + "/" + procedure.donedate.year.to_s + " | " + procedure.surgery.name.to_s + " (" + (procedure.minutes.to_i / 60).to_s + " horas " + (procedure.minutes.to_i % 60).to_s + " minutos)"
				.btn-group.btn-group-justified
					= link_to "Ver todos", procedures_path(:user_id => current_user.id), :class => "btn btn-default"
					= link_to "Participar en nuevo", new_procedure_path, :class => "btn btn-primary"
//  Jefe de area ///////////////////////////////////
- if @role == '1' && @area
	%h2 #{current_user.gender == "0" ? "Bienvenido Dr. " : "Bienvenida Dra. " } #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 
				= @area.name 
		.panel-body
			%ul.list-group
				%li.list-group-item
					%b Internos activos: 
					= @area.users.where(:season_id => Season.last.id, :area_id => current_user.area.id).count if Season.last
				%li.list-group-item
					%b Internos no activos: 
					- count = User.where(:role => "3", :area_id => current_user.area.id).count - User.where(:season_id => Season.last.id).count if Season.last
					= count <= 0 ?  "0" : count

				%li.list-group-item
					%b Procedimientos realizables: 
					= @area.surgeries.count if @area
			.btn-group.btn-group-justified
				= link_to "Ver", @area, :class => "btn btn-default" 
	.panel.panel-default
		.panel-heading
			%h4 Usuarios
		.panel-body
			.btn-group.btn-group-justified
				= link_to "Ver todos", users_path, :class => "btn btn-default"
				= link_to "Crear nuevo", new_user_path, :class => "btn btn-primary"
- elsif @role == '1' && !@area
	.panel.panel-default
		%h3
			No cuenta con un area asignada a su perfil de usuario, favor de pedir su asignación al administrador del sistema.


//  Tutor ///////////////////////////////////
- if current_user.tutor?
	%h2 #{current_user.gender == "0" ? "Bienvenido Dr. " : "Bienvenida Dra. " } #{current_user.name}
	.panel.panel-default
		.panel-heading
			%h4 
				= current_user.area.name
		.panel-body
			%ul.list-group
				%li.list-group-item
					%b Internos activos:
					= @area.users.where(:season_id => Season.last.id, :area_id => current_user.area.id).count if Season.last
				%li.list-group-item
					%b Internos no activos:
					- count = User.where(:role => "3",:area_id => current_user.area.id).count - User.where(:season_id => Season.last.id).count if Season.last
					= count <= 0 ?  "0" : count

				%li.list-group-item
					%b Procedimientos realizables: 
					= @area.surgeries.count
					%table.table
						%tr
							%th Nombre
							%th Descripción
						- @area.surgeries.each do |surgery|
							%tr
								%td
									= surgery.name
								%td
									= surgery.description
	.panel.panel-default
		.panel-heading
			%h4 Usuarios
		.panel-body
			.btn-group.btn-group-justified
				= link_to "Ver todos", users_path, :class => "btn btn-default", :method => :get
