= simple_form_for @task do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, autofocus: true, class: 'form-control' 
    = f.input :description, class: 'form-control' 
    = f.input :surgery_id, type: "hidden"
  .form-actions
    = f.submit class: "btn btn-success"
    = link_to 'Cancelar', root_path, class: 'btn btn-danger'
