= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error", "errores")}:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  - if params[:pd] == nil
    -if current_user.role != "3" and current_user.role != "2"
      .form-group
        = f.label "Nombre(s): "
        = f.text_field :name, :autofocus => true, :class => 'form-control' 
      .form-group
        = f.label "Apellidos: "
        = f.text_field :lastname, :class => 'form-control' 
      .form-group
        = f.label "Correo electrónico (e-mail): "
        = f.text_field :email, :class => 'form-control'
      .form-group
        = f.label "Género: "
        %br
        = f.select(:gender,options_for_select( [['Masculino', 0], ['Femenino', 1]]),{},{ class: 'form-control'})
      .form-group
        = f.label "Fecha de nacimiento: "
        %br
        = f.date_select :birthday, :start_year => Time.now.year - 14, :end_year => 1900, :order => [:day, :month, :year],:html=>{:class => "form-control"}
      - if current_user != @user && current_user.admin? && @user.role != "Admin"
        .form-group
          = f.label "Rol: "
          %br
          - if Area.count == 0 or Season.count == 0
            = f.select(:role,options_for_select( [['Jefe de área', 1], ['Tutor', 2]]),{},{class: 'form-control'})
          -else
            = f.select :role,options_for_select( [['Interno', 3], ['Jefe de área', 1], ['Tutor', 2]]),{},{class: 'form-control'}
          - if Area.count > 0
            .form-group
              = f.label "Área de pertenencia: "
              %br
              = f.select(:area_id, Area.all.collect {|area| [area.name, area.id]},{}, :class => 'form-control' )
      - if current_user.role == "1"
        .form-group
          = f.label "Rol: "
          %br
          = f.select :role, [['Interno', 3], ['Tutor', 2]],{},{class: 'form-control'}
        .form-group
          = f.label "Área de pertenencia: "
          %br
          = f.select(:area_id, [[current_user.area.name, current_user.area.id]], :class => 'form-control' )
  -else
    - if current_user == @user
      .form-group
        = f.label "Contraseña: "
        = f.password_field :password, :autofocus => true, :class => 'form-control' 
      .form-group
        = f.label "Confirmar contraseña: "
        = f.password_field :password_confirmation, :autofocus => true, :class => 'form-control'
      .form-group
        %input{:id => "user_pd", :name => "pd", :value => params[:pd], :type => "hidden"}
  .form-group.btn-group
    = f.submit 'Guardar', :class => "btn btn-primary"
    = link_to 'Cancelar', root_path, :class => 'btn btn-default'


