= simple_form_for @user do |f|
  = f.error_notification
  / # - if params[:pd] == nil
  .form-inputs
    = f.input :name, autofocus: true, class: 'form-control' 
    = f.input :lastname, class: 'form-control'
    = f.input :email, class: 'form-control'
    = f.input :gender, collection: [['Masculino', 0], ['Femenino', 1]]
    = f.input :birthday
    = f.association :area, collection: Area.all
  .form-group
    %input{ id: 'user_pd', name: 'pd', value: params[:pd], type: 'hidden' }
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancelar', root_path, class: 'btn btn-default'
