.panel.panel-default
  .panel-heading
    %h4 Internos NO activos
  .panel-body
    - if Season.last != nil
      %ul.list-group
        -  users.each do |user|
          %li{class: "list-group-item"}
            %a{href: user_path(user)}
              %span.label.label-primary= (user.area != nil ? user.area.name : "No asignado")
              = "#{user.doctor_gender} #{user.name} #{user.lastname}"
            .pull-right
              = link_to("Activar usuario", user_path(user, user: { season_id: Season.last.id }), method: :put, class: 'btn btn-warning btn-sm', confirm: "Activar usuario?")