.jumbotron
  %h2
    = @user.fullname
    %span.label.label-primary
      = @user.role_name
  %h4
    %ul
      %li
        %b Area de pertenencia:
        = link_to @user.area.name,area_path(@user.area) if @user.area
      %li
        %b Fecha de nacimiento:
        = DateWow(@user.birthday)
      %li
        %b Genero:
        = @user.human_genre
      %li
        %b Correo electrónico (e-mail):
        = @user.email
      %li
        %b Ultimo login:
        = @user.last_login
      %li
        %b Cuenta de logins:
        = @user.login_count
  .form-group.btn-group
    -if current_user.role == "Admin" or current_user.role == "1"
      = link_to "Acualizar", edit_user_path(@user), :class => 'btn btn-primary'
    -if current_user == @user
      = link_to "Cambiar contraseña", edit_user_path(@user, :pd => true), :class => 'btn btn-warning'
    -if current_user.role == "Admin" or current_user.role == "1" and current_user.id != @user.id
      = link_to "Borrar usuario", user_path,  method: :delete, :class => "btn btn-danger"