.jumbotron
  %h2
    = @user.fullname
    %span.label.label-primary
      = User::ROLES[@user.role_name]
  %h4
    %ul
      %li
        %b Area de pertenencia:
        = link_to @user.area.name,area_path(@user.area) if @user.area
      %li
        %b Fecha de nacimiento:
        = I18n.l @user.birthday, format: :long
      %li
        %b Genero:
        = @user.human_genre
      %li
        %b Correo electrónico (e-mail):
        = @user.email
      %li
        %b Ultimo login:
        = @user.last_login
      %li
        %b Cuenta de logins:
        = @user.login_count
  .form-group.btn-group
    - if can? :update, @user
      = link_to "Actualizar", edit_user_path(@user), class: 'btn btn-primary'
    - if current_user == @user and can? :update, @user
      = link_to "Cambiar contraseña", edit_user_path(@user, pd: true), class: 'btn btn-warning'
    - if can? :destroy, @user and current_user != @user
      = link_to "Borrar usuario", user_path,  method: :delete, class: "btn btn-danger"
    - if current_user.administrator? or current_user.head_of_area? and @user.intern?
      - if @user.is_active?
        = link_to("Desactivar usuario", user_path(@user, user: { season: Season.first }), method: :put, class: 'btn btn-default', confirm: "¿Desactivar usuario?")
      - else
        = link_to("Activar usuario", user_path(@user, user: { season: Season.last }), method: :put, class: 'btn btn-default', confirm: "¿Activar usuario?")

- if @user.intern?
  .panel.panel-default
    #header.panel-heading
      = render 'procedures/header', active: 1
    #procedures.panel-body
      = render 'procedures/notes', procedure: @user.procedures
