= simple_form_for(@area) do |f|

  .form-group
    = f.input :name
    = f.input :description
    = f.association :user, collection: User.head_area, label_method: :fullname

  .form-group.btn-group
    = f.submit 'Guardar', class: "btn btn-primary"
    = link_to 'Cancelar', root_path, class: 'btn btn-default'
