.jumbotron
  %h2
    %span.label.label-primary
      Área de
      =@area.name
  %h3
    =@area.description
  %h4
    %ul
      %li
        Jefe de área:
        = link_to @area.user.fullname, user_path(@area.user)
      %li
        Número de residentes:
        = number_with_delimiter @area.number_of_residents
      %li
        Número de tutores:
        = number_with_delimiter @area.number_of_tutors
      %li
        Número de notas:
        = number_with_delimiter @area.number_of_notes
      %li
        Tiempo total:
        =  show_in_hours_and_minutes @area.all_resident_notes_hours
      %li
        Numero total de logins:
        = number_with_delimiter @area.logins_count
  .btn-group
    - if can? :update, @area
      = link_to "Editar área", edit_area_path(@area), :class => "btn btn-warning"
    - if can? :destroy, @area
      = link_to "Borrar área", area_path, method: :delete,  :class => "btn btn-danger", data: { confirm: '¿Deseas borrar área?'}

= react_component 'TableCRUD',displayName: "Procedimientos dentro de #{@area.name}",list: @surgeries,modelNamePlural: 'surgeries',modelNameSingular: 'surgery',parentId: @area.id,parentName: 'area'
