%h2
	= @area.name
%p
	= @area.description
= link_to "Editar área", edit_area_path(@area), :class => "btn btn-primary"
= link_to "Borrar área", area_path, method: :delete,  :class => "btn btn-danger", data: { confirm: '¿Deseas borrar área?'}

.panel.panel-default
	.panel-heading
		%h4 Procedimiento
	.panel-body
		%ul.list-group
			- @area.surgeries.order('name').each do |surgery|
				%li.list-item
					= link_to surgery.name, surgery_path(surgery),  :class => "list-group-item"
		.btn-group.btn-group-justified
			= link_to "Crear nuevo", new_surgery_path(:area_id => @area.id), :class => "btn btn-primary"
