%ul.nav.nav-pills
  %li{class: "#{active == 1 ? 'active' : '' }"}
    = link_to "General", procedures_path(user: @user), remote: true
  %li{class: "#{active == 2 ? 'active' : '' }"}
    = link_to "Mensual", monthly_procedures_path(user: @user), remote: true
  %li{class: "#{active == 3 ? 'active' : '' }"}
    = link_to 'Graficas', user_chart_url(user: @user, type: 'month'), remote: true
