- i = 0
#accordion2.panel-group
  - @procedures.each do |k,v|
    .panel.panel-default
      .panel-heading
        %h4
          = link_to nil, "#collapse_#{i}", class: 'accordion-toggle', data: {parent: "#accordion2", toggle: "collapse"} }
            / %a.accordion-toggle{href: "#collapse_#{i}", data: {parent: "#accordion2", toggle: "collapse"} }
            -#%span.badge
            -#  = v
            = "#{v} x #{k.name}"
      %div{id: "collapse_#{i}", class: "accordion-body collapse"}
        .panel-body
          .list-group
            - v.times do
              %a.list-group-item{href: "/procedures/#{@procedure[i].id}"}
                %span{class: "label #{@procedure[i].examineds_color}"}
                  = @procedure[i].folio
                = " Realizo #{k.name} con duracion de #{show_in_hours_and_minutes @procedure[i].minutes} "
                .pull-right
                  = "hace #{time_ago_in_words @procedure[i].donedate}"
              - i += 1
