%h2 
	Actividad:
	%span.label.label-info
		= @procedure.folio

%ul.list-group
	%li.list-group-item
		%b Procedimiento realizado: 
		= @procedure.surgery.name
	%li.list-group-item
		%b Fecha: 
		=  @procedure.donedate.day.to_s + "/" + NameMonth(@procedure.donedate.month.to_s) + "/" + @procedure.donedate.year.to_s
	%li.list-group-item
		%b Tiempo de procedimiento: 
		= (@procedure.minutes.to_i / 60).to_s + " horas " + (@procedure.minutes.to_i % 60).to_s + " minutos."
	%li.list-group-item
		%b Actividades realizadas:
		- if @procedure.task_procedures.count == 0
			= link_to "Agregar", task_procedures_path(:procedure_id => @procedure.id), :class => "btn btn-primary"
		-else
			- @procedure.task_procedures.each do |task_procedure|

				= task_procedure.task.name + ", " if task_procedure.task
	%li.list-group-item
		%b Anotaciones: 
		= @procedure.notes
	-#%hr
	-#%li.list-group-item
	-#	%b Estado de la nota:
	-#	= @procedure.examined ? "revisado" : "no revisado"