= simple_form_for @task_procedure do |f|
  = f.error_notification

  .form-inputs
    = f.association :task, collection: @surgery.tasks, autofocus: true, class: 'form-control', label: 'Actividades realizadas' 
    = f.input :procedure_id, value: @procedure.id, as: :hidden
  .form-actions
    = f.submit class: "btn btn-success"
    = link_to "Cancelar", task_procedures_path(procedure: @procedure), class: "btn btn-danger"
