%p#notice= notice

%p
  %b Proceso:
  = @task_procedure.procedure
%p
  %b Actividad perteneciente a:
  = @task_procedure.task_belongs_to

= link_to 'Editar', edit_task_procedure_path(@task_procedure)
\|
= link_to 'Atrás', task_procedures_path
