%p#notice= notice

%p
  %b Procedure:
  = @task_procedure.procedure
%p
  %b Task belongs to:
  = @task_procedure.task_belongs_to

= link_to 'Edit', edit_task_procedure_path(@task_procedure)
\|
= link_to 'Back', task_procedures_path
