!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Departamento de ense침anza e investigaci칩n C.H.M.H."
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-inverse.navbar-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Inicio', root_path, class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              - if user_signed_in?
                %li= link_to 'Perfil', current_user
                - if current_user.role == 'Admin' or current_user.role == '1' or current_user.role == '2'
                  %li
                    = link_to "Totales",dashboard_index_path
                  %li
                    = link_to "Mensuales",dashboard_monthly_path
                %li= link_to 'Cerrar Sesi칩n', destroy_user_session_path, :method=>'delete'
              - else
                %li= link_to 'Iniciar Sesi칩n', new_user_session_path
    -if notice
      %div#notice.alert
        = notice
    -if alert
      %div#notice.alert
        = alert




    .container

      .row
        .span12
          = bootstrap_flash
          = yield
      - if Rails.env.development?
        .alert.alert-warning
          = params
          %br
          - if current_user
            = "ID de usuario: " + current_user.id.to_s